body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 60px; /* Adiciona espaço para a navbar fixa */
}

.navbar {
    background-color: #4550ee;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    transition: 0.3s;
}

.navbar a:hover {
    background-color: #f11515;
    color: black;
}